.actividades-caza-100 {
    background-image: url(simbolos_wao.png);
    background-position: -0px -0px;
    width: 100px;
    height: 100px;
  }

.actividades-caza-24 {
    background-image: url(simbolos_wao.png);
    background-position: -100px -700px;
    width: 24px;
    height: 24px;
  }

.actividades-caza-48 {
    background-image: url(simbolos_wao.png);
    background-position: -124px -700px;
    width: 24px;
    height: 24px;
  }

.actividades-pesca-100 {
    background-image: url(simbolos_wao.png);
    background-position: -100px -0px;
    width: 100px;
    height: 100px;
  }

.actividades-pesca-24px {
    background-image: url(simbolos_wao.png);
    background-position: -148px -700px;
    width: 24px;
    height: 24px;
  }

.agua-cascada-100 {
    background-image: url(simbolos_wao.png);
    background-position: -0px -100px;
    width: 100px;
    height: 100px;
  }

.agua-cascada-24 {
    background-image: url(simbolos_wao.png);
    background-position: -172px -700px;
    width: 24px;
    height: 24px;
  }

.agua-cascada-48 {
    background-image: url(simbolos_wao.png);
    background-position: -196px -700px;
    width: 24px;
    height: 24px;
  }

.agua-laguna-100 {
    background-image: url(simbolos_wao.png);
    background-position: -100px -100px;
    width: 100px;
    height: 100px;
  }

.agua-laguna-24 {
    background-image: url(simbolos_wao.png);
    background-position: -220px -700px;
    width: 24px;
    height: 24px;
  }

.agua-laguna-48 {
    background-image: url(simbolos_wao.png);
    background-position: -244px -700px;
    width: 24px;
    height: 24px;
  }

.agua-riogrande-100 {
    background-image: url(simbolos_wao.png);
    background-position: -200px -0px;
    width: 100px;
    height: 100px;
  }

.agua-riogrande-24 {
    background-image: url(simbolos_wao.png);
    background-position: -268px -700px;
    width: 24px;
    height: 24px;
  }

.agua-riogrande-48 {
    background-image: url(simbolos_wao.png);
    background-position: -292px -700px;
    width: 24px;
    height: 24px;
  }

.comunidad-campamento-100 {
    background-image: url(simbolos_wao.png);
    background-position: -300px -0px;
    width: 100px;
    height: 100px;
  }

.comunidad-campamento-24 {
    background-image: url(simbolos_wao.png);
    background-position: -316px -700px;
    width: 24px;
    height: 24px;
  }

.comunidad-campamento-48 {
    background-image: url(simbolos_wao.png);
    background-position: -340px -700px;
    width: 24px;
    height: 24px;
  }

.comunidad-escuela-100 {
    background-image: url(simbolos_wao.png);
    background-position: -200px -100px;
    width: 100px;
    height: 100px;
  }

.comunidad-escuela-24 {
    background-image: url(simbolos_wao.png);
    background-position: -364px -700px;
    width: 24px;
    height: 24px;
  }

.comunidad-escuela-48 {
    background-image: url(simbolos_wao.png);
    background-position: -388px -700px;
    width: 24px;
    height: 24px;
  }

.comunidad-pista-100 {
    background-image: url(simbolos_wao.png);
    background-position: -300px -100px;
    width: 100px;
    height: 100px;
  }

.comunidad-pista-24 {
    background-image: url(simbolos_wao.png);
    background-position: -412px -700px;
    width: 24px;
    height: 24px;
  }

.comunidad-pista-48 {
    background-image: url(simbolos_wao.png);
    background-position: -436px -700px;
    width: 24px;
    height: 24px;
  }

.comunidad-saladero-100 {
    background-image: url(simbolos_wao.png);
    background-position: -0px -200px;
    width: 100px;
    height: 100px;
  }

.comunidad-saladero-24 {
    background-image: url(simbolos_wao.png);
    background-position: -460px -700px;
    width: 24px;
    height: 24px;
  }

.comunidad-saladero-48 {
    background-image: url(simbolos_wao.png);
    background-position: -484px -700px;
    width: 24px;
    height: 24px;
  }

.fauna-aguilaarpia-100 {
    background-image: url(simbolos_wao.png);
    background-position: -100px -200px;
    width: 100px;
    height: 100px;
  }

.fauna-aguilaarpia-24 {
    background-image: url(simbolos_wao.png);
    background-position: -508px -700px;
    width: 24px;
    height: 24px;
  }

.fauna-aguilaarpia-48 {
    background-image: url(simbolos_wao.png);
    background-position: -532px -700px;
    width: 24px;
    height: 24px;
  }

.fauna-ardilla-100 {
    background-image: url(simbolos_wao.png);
    background-position: -200px -200px;
    width: 100px;
    height: 100px;
  }

.fauna-ardilla-24 {
    background-image: url(simbolos_wao.png);
    background-position: -556px -700px;
    width: 24px;
    height: 24px;
  }

.fauna-ardilla-48 {
    background-image: url(simbolos_wao.png);
    background-position: -580px -700px;
    width: 24px;
    height: 24px;
  }

.fauna-armadillogomata-100 {
    background-image: url(simbolos_wao.png);
    background-position: -300px -200px;
    width: 100px;
    height: 100px;
  }

.fauna-armadillogomata-24 {
    background-image: url(simbolos_wao.png);
    background-position: -604px -700px;
    width: 24px;
    height: 24px;
  }

.fauna-armadillogomata-48 {
    background-image: url(simbolos_wao.png);
    background-position: -628px -700px;
    width: 24px;
    height: 24px;
  }

.fauna-boa-100 {
    background-image: url(simbolos_wao.png);
    background-position: -0px -300px;
    width: 100px;
    height: 100px;
  }

.fauna-boa-24 {
    background-image: url(simbolos_wao.png);
    background-position: -652px -700px;
    width: 24px;
    height: 24px;
  }

.fauna-boa-48 {
    background-image: url(simbolos_wao.png);
    background-position: -676px -700px;
    width: 24px;
    height: 24px;
  }

.fauna-buho-100 {
    background-image: url(simbolos_wao.png);
    background-position: -100px -300px;
    width: 100px;
    height: 100px;
  }

.fauna-buho-24 {
    background-image: url(simbolos_wao.png);
    background-position: -700px -700px;
    width: 24px;
    height: 24px;
  }

.fauna-buho-48 {
    background-image: url(simbolos_wao.png);
    background-position: -724px -700px;
    width: 24px;
    height: 24px;
  }

.fauna-danta-100 {
    background-image: url(simbolos_wao.png);
    background-position: -200px -300px;
    width: 100px;
    height: 100px;
  }

.fauna-danta-24 {
    background-image: url(simbolos_wao.png);
    background-position: -748px -700px;
    width: 24px;
    height: 24px;
  }

.fauna-danta-48 {
    background-image: url(simbolos_wao.png);
    background-position: -772px -700px;
    width: 24px;
    height: 24px;
  }

.fauna-guacamayo-100 {
    background-image: url(simbolos_wao.png);
    background-position: -300px -300px;
    width: 100px;
    height: 100px;
  }

.fauna-guacamayo-24 {
    background-image: url(simbolos_wao.png);
    background-position: -800px -0px;
    width: 24px;
    height: 24px;
  }

.fauna-guacamayo-48 {
    background-image: url(simbolos_wao.png);
    background-position: -824px -0px;
    width: 24px;
    height: 24px;
  }

.fauna-guanta-100 {
    background-image: url(simbolos_wao.png);
    background-position: -400px -0px;
    width: 100px;
    height: 100px;
  }

.fauna-guanta-24 {
    background-image: url(simbolos_wao.png);
    background-position: -848px -0px;
    width: 24px;
    height: 24px;
  }

.fauna-guanta-48 {
    background-image: url(simbolos_wao.png);
    background-position: -872px -0px;
    width: 24px;
    height: 24px;
  }

.fauna-hoatzin-100 {
    background-image: url(simbolos_wao.png);
    background-position: -500px -0px;
    width: 100px;
    height: 100px;
  }

.fauna-hoatzin-24 {
    background-image: url(simbolos_wao.png);
    background-position: -896px -0px;
    width: 24px;
    height: 24px;
  }

.fauna-hoatzin-48 {
    background-image: url(simbolos_wao.png);
    background-position: -920px -0px;
    width: 24px;
    height: 24px;
  }

.fauna-jaguar-100 {
    background-image: url(simbolos_wao.png);
    background-position: -600px -0px;
    width: 100px;
    height: 100px;
  }

.fauna-jaguar-24 {
    background-image: url(simbolos_wao.png);
    background-position: -944px -0px;
    width: 24px;
    height: 24px;
  }

.fauna-jaguar-48 {
    background-image: url(simbolos_wao.png);
    background-position: -968px -0px;
    width: 24px;
    height: 24px;
  }

.fauna-lagarto-100 {
    background-image: url(simbolos_wao.png);
    background-position: -700px -0px;
    width: 100px;
    height: 100px;
  }

.fauna-lagarto-24 {
    background-image: url(simbolos_wao.png);
    background-position: -992px -0px;
    width: 24px;
    height: 24px;
  }

.fauna-lagarto-48 {
    background-image: url(simbolos_wao.png);
    background-position: -1016px -0px;
    width: 24px;
    height: 24px;
  }

.fauna-monoarana-100 {
    background-image: url(simbolos_wao.png);
    background-position: -400px -100px;
    width: 100px;
    height: 100px;
  }

.fauna-monoarana-24 {
    background-image: url(simbolos_wao.png);
    background-position: -1040px -0px;
    width: 24px;
    height: 24px;
  }

.fauna-monoarana-48 {
    background-image: url(simbolos_wao.png);
    background-position: -1064px -0px;
    width: 24px;
    height: 24px;
  }

.fauna-monoaullador-100 {
    background-image: url(simbolos_wao.png);
    background-position: -500px -100px;
    width: 100px;
    height: 100px;
  }

.fauna-monoaullador-24 {
    background-image: url(simbolos_wao.png);
    background-position: -1088px -0px;
    width: 24px;
    height: 24px;
  }

.fauna-monoaullador-48 {
    background-image: url(simbolos_wao.png);
    background-position: -1112px -0px;
    width: 24px;
    height: 24px;
  }

.fauna-monolanudo-100 {
    background-image: url(simbolos_wao.png);
    background-position: -600px -100px;
    width: 100px;
    height: 100px;
  }

.fauna-monolanudo-24 {
    background-image: url(simbolos_wao.png);
    background-position: -1136px -0px;
    width: 24px;
    height: 24px;
  }

.fauna-monolanudo-48 {
    background-image: url(simbolos_wao.png);
    background-position: -1160px -0px;
    width: 24px;
    height: 24px;
  }

.fauna-osohormiguero-100 {
    background-image: url(simbolos_wao.png);
    background-position: -700px -100px;
    width: 100px;
    height: 100px;
  }

.fauna-osohormiguero-24 {
    background-image: url(simbolos_wao.png);
    background-position: -1184px -0px;
    width: 24px;
    height: 24px;
  }

.fauna-osohormiguero-48 {
    background-image: url(simbolos_wao.png);
    background-position: -1208px -0px;
    width: 24px;
    height: 24px;
  }

.fauna-paujil-100 {
    background-image: url(simbolos_wao.png);
    background-position: -400px -200px;
    width: 100px;
    height: 100px;
  }

.fauna-paujil-24 {
    background-image: url(simbolos_wao.png);
    background-position: -1232px -0px;
    width: 24px;
    height: 24px;
  }

.fauna-paujil-48 {
    background-image: url(simbolos_wao.png);
    background-position: -1256px -0px;
    width: 24px;
    height: 24px;
  }

.fauna-pericoaboke-100 {
    background-image: url(simbolos_wao.png);
    background-position: -500px -200px;
    width: 100px;
    height: 100px;
  }

.fauna-pericoaboke-24 {
    background-image: url(simbolos_wao.png);
    background-position: -1280px -0px;
    width: 24px;
    height: 24px;
  }

.fauna-pericoaboke-48 {
    background-image: url(simbolos_wao.png);
    background-position: -1304px -0px;
    width: 24px;
    height: 24px;
  }

.fauna-pezelectrico-100 {
    background-image: url(simbolos_wao.png);
    background-position: -600px -200px;
    width: 100px;
    height: 100px;
  }

.fauna-pezelectrico-24 {
    background-image: url(simbolos_wao.png);
    background-position: -1328px -0px;
    width: 24px;
    height: 24px;
  }

.fauna-pezelectrico-48 {
    background-image: url(simbolos_wao.png);
    background-position: -1352px -0px;
    width: 24px;
    height: 24px;
  }

.fauna-puma-100 {
    background-image: url(simbolos_wao.png);
    background-position: -700px -200px;
    width: 100px;
    height: 100px;
  }

.fauna-puma-24 {
    background-image: url(simbolos_wao.png);
    background-position: -1376px -0px;
    width: 24px;
    height: 24px;
  }

.fauna-puma-48 {
    background-image: url(simbolos_wao.png);
    background-position: -1400px -0px;
    width: 24px;
    height: 24px;
  }

.fauna-rayaboyotai-100 {
    background-image: url(simbolos_wao.png);
    background-position: -400px -300px;
    width: 100px;
    height: 100px;
  }

.fauna-rayaboyotai-24 {
    background-image: url(simbolos_wao.png);
    background-position: -1424px -0px;
    width: 24px;
    height: 24px;
  }

.fauna-rayaboyotai-48 {
    background-image: url(simbolos_wao.png);
    background-position: -1448px -0px;
    width: 24px;
    height: 24px;
  }

.fauna-sahino-100 {
    background-image: url(simbolos_wao.png);
    background-position: -500px -300px;
    width: 100px;
    height: 100px;
  }

.fauna-sahino-24 {
    background-image: url(simbolos_wao.png);
    background-position: -1472px -0px;
    width: 24px;
    height: 24px;
  }

.fauna-sahino-48 {
    background-image: url(simbolos_wao.png);
    background-position: -1496px -0px;
    width: 24px;
    height: 24px;
  }

.fauna-tigrillo-100 {
    background-image: url(simbolos_wao.png);
    background-position: -600px -300px;
    width: 100px;
    height: 100px;
  }

.fauna-tigrillo-24 {
    background-image: url(simbolos_wao.png);
    background-position: -1520px -0px;
    width: 24px;
    height: 24px;
  }

.fauna-tigrillo-48 {
    background-image: url(simbolos_wao.png);
    background-position: -1544px -0px;
    width: 24px;
    height: 24px;
  }

.fauna-trompetero-100 {
    background-image: url(simbolos_wao.png);
    background-position: -700px -300px;
    width: 100px;
    height: 100px;
  }

.fauna-trompetero-24 {
    background-image: url(simbolos_wao.png);
    background-position: -1568px -0px;
    width: 24px;
    height: 24px;
  }

.fauna-trompetero-48 {
    background-image: url(simbolos_wao.png);
    background-position: -800px -100px;
    width: 24px;
    height: 24px;
  }

.fauna-tucan-100 {
    background-image: url(simbolos_wao.png);
    background-position: -0px -400px;
    width: 100px;
    height: 100px;
  }

.fauna-tucan-24 {
    background-image: url(simbolos_wao.png);
    background-position: -824px -100px;
    width: 24px;
    height: 24px;
  }

.fauna-tucan-48 {
    background-image: url(simbolos_wao.png);
    background-position: -848px -100px;
    width: 24px;
    height: 24px;
  }

.fauna-venadorojotierrabaja-100 {
    background-image: url(simbolos_wao.png);
    background-position: -100px -400px;
    width: 100px;
    height: 100px;
  }

.fauna-venadorojotierrabaja-24 {
    background-image: url(simbolos_wao.png);
    background-position: -872px -100px;
    width: 24px;
    height: 24px;
  }

.fauna-venadorojotierrabaja-48 {
    background-image: url(simbolos_wao.png);
    background-position: -896px -100px;
    width: 24px;
    height: 24px;
  }

.flora-arbolceibo-100 {
    background-image: url(simbolos_wao.png);
    background-position: -200px -400px;
    width: 100px;
    height: 100px;
  }

.flora-arbolceibo-24 {
    background-image: url(simbolos_wao.png);
    background-position: -920px -100px;
    width: 24px;
    height: 24px;
  }

.flora-arbolceibo-48 {
    background-image: url(simbolos_wao.png);
    background-position: -944px -100px;
    width: 24px;
    height: 24px;
  }

.flora-bagamo-100 {
    background-image: url(simbolos_wao.png);
    background-position: -300px -400px;
    width: 100px;
    height: 100px;
  }

.flora-bagamo-24 {
    background-image: url(simbolos_wao.png);
    background-position: -968px -100px;
    width: 24px;
    height: 24px;
  }

.flora-bagamo-48 {
    background-image: url(simbolos_wao.png);
    background-position: -992px -100px;
    width: 24px;
    height: 24px;
  }

.flora-chunchu-100 {
    background-image: url(simbolos_wao.png);
    background-position: -400px -400px;
    width: 100px;
    height: 100px;
  }

.flora-chunchu-24 {
    background-image: url(simbolos_wao.png);
    background-position: -1016px -100px;
    width: 24px;
    height: 24px;
  }

.flora-chunchu-48 {
    background-image: url(simbolos_wao.png);
    background-position: -1040px -100px;
    width: 24px;
    height: 24px;
  }

.flora-chunta-100 {
    background-image: url(simbolos_wao.png);
    background-position: -500px -400px;
    width: 100px;
    height: 100px;
  }

.flora-chunta-24 {
    background-image: url(simbolos_wao.png);
    background-position: -1064px -100px;
    width: 24px;
    height: 24px;
  }

.flora-chunta-48 {
    background-image: url(simbolos_wao.png);
    background-position: -1088px -100px;
    width: 24px;
    height: 24px;
  }

.flora-gadua-100 {
    background-image: url(simbolos_wao.png);
    background-position: -600px -400px;
    width: 100px;
    height: 100px;
  }

.flora-gadua-24 {
    background-image: url(simbolos_wao.png);
    background-position: -1112px -100px;
    width: 24px;
    height: 24px;
  }

.flora-gadua-48 {
    background-image: url(simbolos_wao.png);
    background-position: -1136px -100px;
    width: 24px;
    height: 24px;
  }

.flora-liana-100 {
    background-image: url(simbolos_wao.png);
    background-position: -700px -400px;
    width: 100px;
    height: 100px;
  }

.flora-liana-24 {
    background-image: url(simbolos_wao.png);
    background-position: -1160px -100px;
    width: 24px;
    height: 24px;
  }

.flora-liana-48 {
    background-image: url(simbolos_wao.png);
    background-position: -1184px -100px;
    width: 24px;
    height: 24px;
  }

.flora-lianaotome-100 {
    background-image: url(simbolos_wao.png);
    background-position: -0px -500px;
    width: 100px;
    height: 100px;
  }

.flora-lianaotome-24 {
    background-image: url(simbolos_wao.png);
    background-position: -1208px -100px;
    width: 24px;
    height: 24px;
  }

.flora-lianaotome-48 {
    background-image: url(simbolos_wao.png);
    background-position: -1232px -100px;
    width: 24px;
    height: 24px;
  }

.flora-liwe-100 {
    background-image: url(simbolos_wao.png);
    background-position: -100px -500px;
    width: 100px;
    height: 100px;
  }

.flora-liwe-24 {
    background-image: url(simbolos_wao.png);
    background-position: -1256px -100px;
    width: 24px;
    height: 24px;
  }

.flora-liwe-48 {
    background-image: url(simbolos_wao.png);
    background-position: -1280px -100px;
    width: 24px;
    height: 24px;
  }

.flora-ortiga-100 {
    background-image: url(simbolos_wao.png);
    background-position: -200px -500px;
    width: 100px;
    height: 100px;
  }

.flora-ortiga-24 {
    background-image: url(simbolos_wao.png);
    background-position: -1304px -100px;
    width: 24px;
    height: 24px;
  }

.flora-ortiga-48 {
    background-image: url(simbolos_wao.png);
    background-position: -1328px -100px;
    width: 24px;
    height: 24px;
  }

.flora-palmeracalipato-100 {
    background-image: url(simbolos_wao.png);
    background-position: -300px -500px;
    width: 100px;
    height: 100px;
  }

.flora-palmeracalipato-24 {
    background-image: url(simbolos_wao.png);
    background-position: -1352px -100px;
    width: 24px;
    height: 24px;
  }

.flora-palmeracalipato-48 {
    background-image: url(simbolos_wao.png);
    background-position: -1376px -100px;
    width: 24px;
    height: 24px;
  }

.flora-pankabokabo-100 {
    background-image: url(simbolos_wao.png);
    background-position: -400px -500px;
    width: 100px;
    height: 100px;
  }

.flora-pankabokabo-24 {
    background-image: url(simbolos_wao.png);
    background-position: -1400px -100px;
    width: 24px;
    height: 24px;
  }

.flora-pankabokabo-48 {
    background-image: url(simbolos_wao.png);
    background-position: -1424px -100px;
    width: 24px;
    height: 24px;
  }

.flora-petomo-100 {
    background-image: url(simbolos_wao.png);
    background-position: -500px -500px;
    width: 100px;
    height: 100px;
  }

.flora-petomo-24 {
    background-image: url(simbolos_wao.png);
    background-position: -1448px -100px;
    width: 24px;
    height: 24px;
  }

.flora-petomo-48 {
    background-image: url(simbolos_wao.png);
    background-position: -1472px -100px;
    width: 24px;
    height: 24px;
  }

.flora-tetemo-100 {
    background-image: url(simbolos_wao.png);
    background-position: -600px -500px;
    width: 100px;
    height: 100px;
  }

.flora-tetemo-24 {
    background-image: url(simbolos_wao.png);
    background-position: -1496px -100px;
    width: 24px;
    height: 24px;
  }

.flora-tetemo-48 {
    background-image: url(simbolos_wao.png);
    background-position: -1520px -100px;
    width: 24px;
    height: 24px;
  }

.flora-uñadegato-100 {
    background-image: url(simbolos_wao.png);
    background-position: -700px -500px;
    width: 100px;
    height: 100px;
  }

.flora-uñadegato-24 {
    background-image: url(simbolos_wao.png);
    background-position: -1544px -100px;
    width: 24px;
    height: 24px;
  }

.flora-uñadegato-48 {
    background-image: url(simbolos_wao.png);
    background-position: -1568px -100px;
    width: 24px;
    height: 24px;
  }

.flora-wamomo-100 {
    background-image: url(simbolos_wao.png);
    background-position: -0px -600px;
    width: 100px;
    height: 100px;
  }

.flora-wamomo-24 {
    background-image: url(simbolos_wao.png);
    background-position: -800px -200px;
    width: 24px;
    height: 24px;
  }

.flora-wamomo-48 {
    background-image: url(simbolos_wao.png);
    background-position: -824px -200px;
    width: 24px;
    height: 24px;
  }

.otros-camaratrampa-100 {
    background-image: url(simbolos_wao.png);
    background-position: -100px -600px;
    width: 100px;
    height: 100px;
  }

.otros-camaratrampa24 {
    background-image: url(simbolos_wao.png);
    background-position: -848px -200px;
    width: 24px;
    height: 24px;
  }

.otros-camaratrampa48 {
    background-image: url(simbolos_wao.png);
    background-position: -872px -200px;
    width: 24px;
    height: 24px;
  }

.otros-lago-100 {
    background-image: url(simbolos_wao.png);
    background-position: -200px -600px;
    width: 100px;
    height: 100px;
  }

.otros-lago-24 {
    background-image: url(simbolos_wao.png);
    background-position: -896px -200px;
    width: 24px;
    height: 24px;
  }

.otros-lago-48 {
    background-image: url(simbolos_wao.png);
    background-position: -920px -200px;
    width: 24px;
    height: 24px;
  }

.otros-mirador-100 {
    background-image: url(simbolos_wao.png);
    background-position: -300px -600px;
    width: 100px;
    height: 100px;
  }

.otros-mirador-24 {
    background-image: url(simbolos_wao.png);
    background-position: -944px -200px;
    width: 24px;
    height: 24px;
  }

.otros-mirador-48 {
    background-image: url(simbolos_wao.png);
    background-position: -968px -200px;
    width: 24px;
    height: 24px;
  }

.otros-pozo-100 {
    background-image: url(simbolos_wao.png);
    background-position: -400px -600px;
    width: 100px;
    height: 100px;
  }

.otros-pozo-24 {
    background-image: url(simbolos_wao.png);
    background-position: -992px -200px;
    width: 24px;
    height: 24px;
  }

.otros-pozo-48 {
    background-image: url(simbolos_wao.png);
    background-position: -1016px -200px;
    width: 24px;
    height: 24px;
  }

.otros-quebrada {
    background-image: url(simbolos_wao.png);
    background-position: -1040px -200px;
    width: 24px;
    height: 24px;
  }

.otros-quebrada-100 {
    background-image: url(simbolos_wao.png);
    background-position: -500px -600px;
    width: 100px;
    height: 100px;
  }

.otros-zonadeguerra-100 {
    background-image: url(simbolos_wao.png);
    background-position: -600px -600px;
    width: 100px;
    height: 100px;
  }

.otros-zonadeguerra-24 {
    background-image: url(simbolos_wao.png);
    background-position: -1064px -200px;
    width: 24px;
    height: 24px;
  }

.otros-zonadeguerra-48 {
    background-image: url(simbolos_wao.png);
    background-position: -1088px -200px;
    width: 24px;
    height: 24px;
  }

.peces-bagre-100 {
    background-image: url(simbolos_wao.png);
    background-position: -700px -600px;
    width: 100px;
    height: 100px;
  }

.peces-bagre-24 {
    background-image: url(simbolos_wao.png);
    background-position: -1112px -200px;
    width: 24px;
    height: 24px;
  }

.peces-bagre-48 {
    background-image: url(simbolos_wao.png);
    background-position: -1136px -200px;
    width: 24px;
    height: 24px;
  }

.peces-charapa-100 {
    background-image: url(simbolos_wao.png);
    background-position: -0px -700px;
    width: 100px;
    height: 100px;
  }

.peces-charapa-24 {
    background-image: url(simbolos_wao.png);
    background-position: -1160px -200px;
    width: 24px;
    height: 24px;
  }

.peces-charapa-48 {
    background-image: url(simbolos_wao.png);
    background-position: -1184px -200px;
    width: 24px;
    height: 24px;
  }

