html {
  font-family: -apple-system, BlinkMacSystemFont,
               'avenir next', avenir,
               helvetica, 'helvetica neue',
               ubuntu,
               roboto, noto,
               'segoe ui', arial,
               sans-serif;
  font-size: 16px;
  color: #222;
}

body, html {
  padding: 0;
  margin: 0;
}

/* Modern browsers only need this one */
/* this calc expressiong results in a value of 15px at 320px width and below
 * and 20px at
@media screen and (min-width: 25em){
  html { font-size: calc( 15px + (20 - 15) * (100vw - 320px) / (1366 - 320) ); }
}

/* Safari <8 and IE <11 do not re-calculate when window is
 * resized. This forces a re-calculation at these breakpoints
 */
@media screen and (min-width: 25em){
  html { font-size: calc( 15px + (20 - 15) * (100vw - 520px) / (1366 - 520) ); }
}
@media screen and (min-width: 50em){
  html { font-size: calc( 15px + (20 - 15) * (100vw - 320px) / (1366 - 320) ); }
}


.btn-group {
    position: absolute;
    right: 10px;
    top: 10px;
}

.btn-group > label {
    color: #777;
    margin-left: -1px;
    float: left;
    display: inline-block;
    margin-bottom: 0;
    font-weight: normal;
    text-align: center;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    background-color: #eee;
    border: 1px solid #0275d8;
    white-space: nowrap;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    border-radius: 4px;
}

.btn-group > label:hover {
    color: #373a3c;
    background-color: #e6e6e6;
    border-color: #adadad;
}

.btn-group > label.active {
    color: #fff;
    background-color: #0275d8;
    border-color: #0275d8;
}

.btn-group > label input {
    position: absolute;
    clip: rect(0,0,0,0);
    pointer-events: none;
}

.btn-group > label:last-child {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}
.btn-group > label:first-child {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}
