.agua-cascada-100px {
    background-image: url(iconos_wao.png);
    background-position: -381px -0px;
    width: 100px;
    height: 100px;
  }

.agua-cascada-24px {
    background-image: url(iconos_wao.png);
    background-position: -2000px -556px;
    width: 24px;
    height: 24px;
  }

.agua-lago-100px {
    background-image: url(iconos_wao.png);
    background-position: -253px -128px;
    width: 100px;
    height: 100px;
  }

.agua-lago-24px {
    background-image: url(iconos_wao.png);
    background-position: -2024px -556px;
    width: 24px;
    height: 24px;
  }

.agua-laguna-100px {
    background-image: url(iconos_wao.png);
    background-position: -353px -128px;
    width: 100px;
    height: 100px;
  }

.agua-laguna-24px {
    background-image: url(iconos_wao.png);
    background-position: -2000px -656px;
    width: 24px;
    height: 24px;
  }

.agua-playa-100px {
    background-image: url(iconos_wao.png);
    background-position: -128px -128px;
    width: 125px;
    height: 125px;
  }

.agua-playa-24px {
    background-image: url(iconos_wao.png);
    background-position: -2000px -256px;
    width: 30px;
    height: 30px;
  }

.agua-quebrada-100px {
    background-image: url(iconos_wao.png);
    background-position: -0px -256px;
    width: 100px;
    height: 100px;
  }

.agua-quebrada-24px {
    background-image: url(iconos_wao.png);
    background-position: -2024px -656px;
    width: 24px;
    height: 24px;
  }

.agua-riogrande-100px {
    background-image: url(iconos_wao.png);
    background-position: -100px -256px;
    width: 100px;
    height: 100px;
  }

.agua-riogrande-24px {
    background-image: url(iconos_wao.png);
    background-position: -2000px -756px;
    width: 24px;
    height: 24px;
  }

.agua-wantime-100px {
    background-image: url(iconos_wao.png);
    background-position: -200px -256px;
    width: 100px;
    height: 100px;
  }

.agua-wantime-24px {
    background-image: url(iconos_wao.png);
    background-position: -2024px -756px;
    width: 24px;
    height: 24px;
  }

.animal-abeja-brea-100px {
    background-image: url(iconos_wao.png);
    background-position: -300px -256px;
    width: 100px;
    height: 100px;
  }

.animal-abeja-brea-24px {
    background-image: url(iconos_wao.png);
    background-position: -1200px -856px;
    width: 24px;
    height: 24px;
  }

.animal-abeja-miel-100px {
    background-image: url(iconos_wao.png);
    background-position: -400px -256px;
    width: 100px;
    height: 100px;
  }

.animal-abeja-miel-24px {
    background-image: url(iconos_wao.png);
    background-position: -1224px -856px;
    width: 24px;
    height: 24px;
  }

.animal-ardilla-100px {
    background-image: url(iconos_wao.png);
    background-position: -0px -356px;
    width: 100px;
    height: 100px;
  }

.animal-ardilla-24px {
    background-image: url(iconos_wao.png);
    background-position: -1248px -856px;
    width: 24px;
    height: 24px;
  }

.animal-armadillo-100px {
    background-image: url(iconos_wao.png);
    background-position: -100px -356px;
    width: 100px;
    height: 100px;
  }

.animal-armadillo-24px {
    background-image: url(iconos_wao.png);
    background-position: -1272px -856px;
    width: 24px;
    height: 24px;
  }

.animal-ave-aguilaharpia-100px {
    background-image: url(iconos_wao.png);
    background-position: -200px -356px;
    width: 100px;
    height: 100px;
  }

.animal-ave-aguilaharpia-24px {
    background-image: url(iconos_wao.png);
    background-position: -1296px -856px;
    width: 24px;
    height: 24px;
  }

.animal-ave-buho-100px {
    background-image: url(iconos_wao.png);
    background-position: -300px -356px;
    width: 100px;
    height: 100px;
  }

.animal-ave-buho-24px {
    background-image: url(iconos_wao.png);
    background-position: -1320px -856px;
    width: 24px;
    height: 24px;
  }

.animal-ave-garza-100px {
    background-image: url(iconos_wao.png);
    background-position: -400px -356px;
    width: 100px;
    height: 100px;
  }

.animal-ave-garza-24px {
    background-image: url(iconos_wao.png);
    background-position: -500px -256px;
    width: 100px;
    height: 100px;
  }

.animal-ave-gigamoe-aguila-100px {
    background-image: url(iconos_wao.png);
    background-position: -600px -256px;
    width: 100px;
    height: 100px;
  }

.animal-ave-gigamoe-aguila-24px {
    background-image: url(iconos_wao.png);
    background-position: -1344px -856px;
    width: 24px;
    height: 24px;
  }

.animal-ave-guacamayo-100px {
    background-image: url(iconos_wao.png);
    background-position: -700px -256px;
    width: 100px;
    height: 100px;
  }

.animal-ave-guacamayo-24px {
    background-image: url(iconos_wao.png);
    background-position: -1368px -856px;
    width: 24px;
    height: 24px;
  }

.animal-ave-hoatzin-100px {
    background-image: url(iconos_wao.png);
    background-position: -800px -256px;
    width: 100px;
    height: 100px;
  }

.animal-ave-hoatzin-24px {
    background-image: url(iconos_wao.png);
    background-position: -1392px -856px;
    width: 24px;
    height: 24px;
  }

.animal-ave-loro-100px {
    background-image: url(iconos_wao.png);
    background-position: -900px -256px;
    width: 100px;
    height: 100px;
  }

.animal-ave-loro-24px {
    background-image: url(iconos_wao.png);
    background-position: -1416px -856px;
    width: 24px;
    height: 24px;
  }

.animal-ave-oropendula-100px {
    background-image: url(iconos_wao.png);
    background-position: -500px -356px;
    width: 100px;
    height: 100px;
  }

.animal-ave-oropendula-24px {
    background-image: url(iconos_wao.png);
    background-position: -600px -356px;
    width: 100px;
    height: 100px;
  }

.animal-ave-papagallo-100px {
    background-image: url(iconos_wao.png);
    background-position: -700px -356px;
    width: 100px;
    height: 100px;
  }

.animal-ave-papagallo-24px {
    background-image: url(iconos_wao.png);
    background-position: -1440px -856px;
    width: 24px;
    height: 24px;
  }

.animal-ave-paujil-100px {
    background-image: url(iconos_wao.png);
    background-position: -800px -356px;
    width: 100px;
    height: 100px;
  }

.animal-ave-paujil-24px {
    background-image: url(iconos_wao.png);
    background-position: -1464px -856px;
    width: 24px;
    height: 24px;
  }

.animal-ave-paujil-nocturno-100px {
    background-image: url(iconos_wao.png);
    background-position: -900px -356px;
    width: 100px;
    height: 100px;
  }

.animal-ave-paujil-nocturno-24px {
    background-image: url(iconos_wao.png);
    background-position: -1488px -856px;
    width: 24px;
    height: 24px;
  }

.animal-ave-pava-100px {
    background-image: url(iconos_wao.png);
    background-position: -481px -0px;
    width: 100px;
    height: 100px;
  }

.animal-ave-pava-24px {
    background-image: url(iconos_wao.png);
    background-position: -1512px -856px;
    width: 24px;
    height: 24px;
  }

.animal-ave-perdiz-100px {
    background-image: url(iconos_wao.png);
    background-position: -581px -0px;
    width: 100px;
    height: 100px;
  }

.animal-ave-perdiz-24px {
    background-image: url(iconos_wao.png);
    background-position: -1536px -856px;
    width: 24px;
    height: 24px;
  }

.animal-ave-perico-100px {
    background-image: url(iconos_wao.png);
    background-position: -681px -0px;
    width: 100px;
    height: 100px;
  }

.animal-ave-perico-24px {
    background-image: url(iconos_wao.png);
    background-position: -1560px -856px;
    width: 24px;
    height: 24px;
  }

.animal-ave-trompetero-100px {
    background-image: url(iconos_wao.png);
    background-position: -781px -0px;
    width: 100px;
    height: 100px;
  }

.animal-ave-trompetero-24px {
    background-image: url(iconos_wao.png);
    background-position: -1584px -856px;
    width: 24px;
    height: 24px;
  }

.animal-ave-tucan-100px {
    background-image: url(iconos_wao.png);
    background-position: -881px -0px;
    width: 100px;
    height: 100px;
  }

.animal-ave-tucan-24px {
    background-image: url(iconos_wao.png);
    background-position: -1608px -856px;
    width: 24px;
    height: 24px;
  }

.animal-boa-100px {
    background-image: url(iconos_wao.png);
    background-position: -453px -128px;
    width: 100px;
    height: 100px;
  }

.animal-boa-24px {
    background-image: url(iconos_wao.png);
    background-position: -1632px -856px;
    width: 24px;
    height: 24px;
  }

.animal-camino-animales-100px {
    background-image: url(iconos_wao.png);
    background-position: -553px -128px;
    width: 100px;
    height: 100px;
  }

.animal-camino-huellahuangana-100px {
    background-image: url(iconos_wao.png);
    background-position: -653px -128px;
    width: 100px;
    height: 100px;
  }

.animal-camino-huellahuangana-24px {
    background-image: url(iconos_wao.png);
    background-position: -1656px -856px;
    width: 24px;
    height: 24px;
  }

.animal-camino-huellajaguar-100px {
    background-image: url(iconos_wao.png);
    background-position: -753px -128px;
    width: 100px;
    height: 100px;
  }

.animal-camino-huellajaguar-24px {
    background-image: url(iconos_wao.png);
    background-position: -1680px -856px;
    width: 24px;
    height: 24px;
  }

.animal-camino-huellasajino-100px {
    background-image: url(iconos_wao.png);
    background-position: -853px -128px;
    width: 100px;
    height: 100px;
  }

.animal-camino-huellasajino-24px {
    background-image: url(iconos_wao.png);
    background-position: -1704px -856px;
    width: 24px;
    height: 24px;
  }

.animal-camino-huellatapir-100px {
    background-image: url(iconos_wao.png);
    background-position: -0px -456px;
    width: 100px;
    height: 100px;
  }

.animal-camino-huellatapir-24px {
    background-image: url(iconos_wao.png);
    background-position: -1728px -856px;
    width: 24px;
    height: 24px;
  }

.animal-campo-de-animales-100px {
    background-image: url(iconos_wao.png);
    background-position: -256px -0px;
    width: 125px;
    height: 125px;
  }

.animal-campo-de-animales-24px {
    background-image: url(iconos_wao.png);
    background-position: -2000px -356px;
    width: 30px;
    height: 30px;
  }

.animal-capybara-100px {
    background-image: url(iconos_wao.png);
    background-position: -100px -456px;
    width: 100px;
    height: 100px;
  }

.animal-capybara-24px {
    background-image: url(iconos_wao.png);
    background-position: -1752px -856px;
    width: 24px;
    height: 24px;
  }

.animal-charapa-100px {
    background-image: url(iconos_wao.png);
    background-position: -200px -456px;
    width: 100px;
    height: 100px;
  }

.animal-charapa-24px {
    background-image: url(iconos_wao.png);
    background-position: -1776px -856px;
    width: 24px;
    height: 24px;
  }

.animal-danta-100px {
    background-image: url(iconos_wao.png);
    background-position: -300px -456px;
    width: 100px;
    height: 100px;
  }

.animal-danta-24px {
    background-image: url(iconos_wao.png);
    background-position: -1800px -856px;
    width: 24px;
    height: 24px;
  }

.animal-guanta-100px {
    background-image: url(iconos_wao.png);
    background-position: -400px -456px;
    width: 100px;
    height: 100px;
  }

.animal-guanta-24px {
    background-image: url(iconos_wao.png);
    background-position: -1824px -856px;
    width: 24px;
    height: 24px;
  }

.animal-guatuza-100px {
    background-image: url(iconos_wao.png);
    background-position: -500px -456px;
    width: 100px;
    height: 100px;
  }

.animal-guatuza-24px {
    background-image: url(iconos_wao.png);
    background-position: -600px -456px;
    width: 100px;
    height: 100px;
  }

.animal-hormiga-100px {
    background-image: url(iconos_wao.png);
    background-position: -700px -456px;
    width: 100px;
    height: 100px;
  }

.animal-hormiga-24px {
    background-image: url(iconos_wao.png);
    background-position: -800px -456px;
    width: 100px;
    height: 100px;
  }

.animal-huangana-100px {
    background-image: url(iconos_wao.png);
    background-position: -900px -456px;
    width: 100px;
    height: 100px;
  }

.animal-huangana-24px {
    background-image: url(iconos_wao.png);
    background-position: -1848px -856px;
    width: 24px;
    height: 24px;
  }

.animal-jaguar-100px {
    background-image: url(iconos_wao.png);
    background-position: -0px -556px;
    width: 100px;
    height: 100px;
  }

.animal-jaguar-24px {
    background-image: url(iconos_wao.png);
    background-position: -1872px -856px;
    width: 24px;
    height: 24px;
  }

.animal-lagarto-100px {
    background-image: url(iconos_wao.png);
    background-position: -100px -556px;
    width: 100px;
    height: 100px;
  }

.animal-lagarto-24px {
    background-image: url(iconos_wao.png);
    background-position: -1896px -856px;
    width: 24px;
    height: 24px;
  }

.animal-mono-arana-100px {
    background-image: url(iconos_wao.png);
    background-position: -200px -556px;
    width: 100px;
    height: 100px;
  }

.animal-mono-arana-24px {
    background-image: url(iconos_wao.png);
    background-position: -1920px -856px;
    width: 24px;
    height: 24px;
  }

.animal-mono-aullador-100px {
    background-image: url(iconos_wao.png);
    background-position: -300px -556px;
    width: 100px;
    height: 100px;
  }

.animal-mono-aullador-24px {
    background-image: url(iconos_wao.png);
    background-position: -1944px -856px;
    width: 24px;
    height: 24px;
  }

.animal-mono-barizochico-100px {
    background-image: url(iconos_wao.png);
    background-position: -400px -556px;
    width: 100px;
    height: 100px;
  }

.animal-mono-barizochico-24px {
    background-image: url(iconos_wao.png);
    background-position: -1968px -856px;
    width: 24px;
    height: 24px;
  }

.animal-mono-capuchino-100px {
    background-image: url(iconos_wao.png);
    background-position: -500px -556px;
    width: 100px;
    height: 100px;
  }

.animal-mono-capuchino-24px {
    background-image: url(iconos_wao.png);
    background-position: -1992px -856px;
    width: 24px;
    height: 24px;
  }

.animal-mono-chichico-100px {
    background-image: url(iconos_wao.png);
    background-position: -600px -556px;
    width: 100px;
    height: 100px;
  }

.animal-mono-chichico-24px {
    background-image: url(iconos_wao.png);
    background-position: -700px -556px;
    width: 100px;
    height: 100px;
  }

.animal-mono-chorongo-100px {
    background-image: url(iconos_wao.png);
    background-position: -800px -556px;
    width: 100px;
    height: 100px;
  }

.animal-mono-chorongo-24px {
    background-image: url(iconos_wao.png);
    background-position: -2016px -856px;
    width: 24px;
    height: 24px;
  }

.animal-mono-lanudo-100px {
    background-image: url(iconos_wao.png);
    background-position: -900px -556px;
    width: 100px;
    height: 100px;
  }

.animal-mono-lanudo-24px {
    background-image: url(iconos_wao.png);
    background-position: -981px -0px;
    width: 24px;
    height: 24px;
  }

.animal-mono-nocturno-100px {
    background-image: url(iconos_wao.png);
    background-position: -0px -656px;
    width: 100px;
    height: 100px;
  }

.animal-mono-nocturno-24px {
    background-image: url(iconos_wao.png);
    background-position: -1005px -0px;
    width: 24px;
    height: 24px;
  }

.animal-nutria-100px {
    background-image: url(iconos_wao.png);
    background-position: -100px -656px;
    width: 100px;
    height: 100px;
  }

.animal-nutria-24px {
    background-image: url(iconos_wao.png);
    background-position: -1029px -0px;
    width: 24px;
    height: 24px;
  }

.animal-obatibe-100px {
    background-image: url(iconos_wao.png);
    background-position: -200px -656px;
    width: 100px;
    height: 100px;
  }

.animal-obatibe-24px {
    background-image: url(iconos_wao.png);
    background-position: -1053px -0px;
    width: 24px;
    height: 24px;
  }

.animal-osohormiguero-100px {
    background-image: url(iconos_wao.png);
    background-position: -300px -656px;
    width: 100px;
    height: 100px;
  }

.animal-osohormiguero-24px {
    background-image: url(iconos_wao.png);
    background-position: -1077px -0px;
    width: 24px;
    height: 24px;
  }

.animal-pantera-100px {
    background-image: url(iconos_wao.png);
    background-position: -400px -656px;
    width: 100px;
    height: 100px;
  }

.animal-pantera-24px {
    background-image: url(iconos_wao.png);
    background-position: -1101px -0px;
    width: 24px;
    height: 24px;
  }

.animal-perrosalvaje-100px {
    background-image: url(iconos_wao.png);
    background-position: -500px -656px;
    width: 100px;
    height: 100px;
  }

.animal-perrosalvaje-24px {
    background-image: url(iconos_wao.png);
    background-position: -1125px -0px;
    width: 24px;
    height: 24px;
  }

.animal-pez-bagre-100px {
    background-image: url(iconos_wao.png);
    background-position: -600px -656px;
    width: 100px;
    height: 100px;
  }

.animal-pez-bagre-24px {
    background-image: url(iconos_wao.png);
    background-position: -1149px -0px;
    width: 24px;
    height: 24px;
  }

.animal-pez-camaron-100px {
    background-image: url(iconos_wao.png);
    background-position: -700px -656px;
    width: 100px;
    height: 100px;
  }

.animal-pez-camaron-24px {
    background-image: url(iconos_wao.png);
    background-position: -1173px -0px;
    width: 24px;
    height: 24px;
  }

.animal-pez-carachama-100px {
    background-image: url(iconos_wao.png);
    background-position: -800px -656px;
    width: 100px;
    height: 100px;
  }

.animal-pez-carachama-24px {
    background-image: url(iconos_wao.png);
    background-position: -1197px -0px;
    width: 24px;
    height: 24px;
  }

.animal-pez-pezelectrico-100px {
    background-image: url(iconos_wao.png);
    background-position: -900px -656px;
    width: 100px;
    height: 100px;
  }

.animal-pez-pezelectrico-24px {
    background-image: url(iconos_wao.png);
    background-position: -1221px -0px;
    width: 24px;
    height: 24px;
  }

.animal-pez-piranha-100px {
    background-image: url(iconos_wao.png);
    background-position: -0px -756px;
    width: 100px;
    height: 100px;
  }

.animal-pez-piranha-24px {
    background-image: url(iconos_wao.png);
    background-position: -1245px -0px;
    width: 24px;
    height: 24px;
  }

.animal-pez-raya-100px {
    background-image: url(iconos_wao.png);
    background-position: -100px -756px;
    width: 100px;
    height: 100px;
  }

.animal-pez-raya-24px {
    background-image: url(iconos_wao.png);
    background-position: -1269px -0px;
    width: 24px;
    height: 24px;
  }

.animal-pez-sabalo-100px {
    background-image: url(iconos_wao.png);
    background-position: -200px -756px;
    width: 100px;
    height: 100px;
  }

.animal-pez-sabalo-24px {
    background-image: url(iconos_wao.png);
    background-position: -1293px -0px;
    width: 24px;
    height: 24px;
  }

.animal-puma-100px {
    background-image: url(iconos_wao.png);
    background-position: -300px -756px;
    width: 100px;
    height: 100px;
  }

.animal-puma-24px {
    background-image: url(iconos_wao.png);
    background-position: -1317px -0px;
    width: 24px;
    height: 24px;
  }

.animal-ranasapo-100px {
    background-image: url(iconos_wao.png);
    background-position: -400px -756px;
    width: 100px;
    height: 100px;
  }

.animal-ranasapo-24px {
    background-image: url(iconos_wao.png);
    background-position: -1341px -0px;
    width: 24px;
    height: 24px;
  }

.animal-sahino-100px {
    background-image: url(iconos_wao.png);
    background-position: -500px -756px;
    width: 100px;
    height: 100px;
  }

.animal-sahino-24px {
    background-image: url(iconos_wao.png);
    background-position: -1365px -0px;
    width: 24px;
    height: 24px;
  }

.animal-saladero-100px {
    background-image: url(iconos_wao.png);
    background-position: -600px -756px;
    width: 100px;
    height: 100px;
  }

.animal-saladero-24px {
    background-image: url(iconos_wao.png);
    background-position: -1389px -0px;
    width: 24px;
    height: 24px;
  }

.animal-tigrillo-100px {
    background-image: url(iconos_wao.png);
    background-position: -700px -756px;
    width: 100px;
    height: 100px;
  }

.animal-tigrillo-24px {
    background-image: url(iconos_wao.png);
    background-position: -1413px -0px;
    width: 24px;
    height: 24px;
  }

.animal-tortuga-100px {
    background-image: url(iconos_wao.png);
    background-position: -800px -756px;
    width: 100px;
    height: 100px;
  }

.animal-tortuga-24px {
    background-image: url(iconos_wao.png);
    background-position: -1437px -0px;
    width: 24px;
    height: 24px;
  }

.animal-venado-100px {
    background-image: url(iconos_wao.png);
    background-position: -900px -756px;
    width: 100px;
    height: 100px;
  }

.animal-venado-24px {
    background-image: url(iconos_wao.png);
    background-position: -1461px -0px;
    width: 24px;
    height: 24px;
  }

.arbol-100px {
    background-image: url(iconos_wao.png);
    background-position: -0px -856px;
    width: 100px;
    height: 100px;
  }

.arbol-24px {
    background-image: url(iconos_wao.png);
    background-position: -1485px -0px;
    width: 24px;
    height: 24px;
  }

.arbol-artesanal-100px {
    background-image: url(iconos_wao.png);
    background-position: -100px -856px;
    width: 100px;
    height: 100px;
  }

.arbol-artesanal-24px {
    background-image: url(iconos_wao.png);
    background-position: -1509px -0px;
    width: 24px;
    height: 24px;
  }

.arbol-bokabo-100px {
    background-image: url(iconos_wao.png);
    background-position: -200px -856px;
    width: 100px;
    height: 100px;
  }

.arbol-bokabo-24px {
    background-image: url(iconos_wao.png);
    background-position: -1533px -0px;
    width: 24px;
    height: 24px;
  }

.arbol-cedro-100px {
    background-image: url(iconos_wao.png);
    background-position: -300px -856px;
    width: 100px;
    height: 100px;
  }

.arbol-cedro-24px {
    background-image: url(iconos_wao.png);
    background-position: -1557px -0px;
    width: 24px;
    height: 24px;
  }

.arbol-ceibo-100px {
    background-image: url(iconos_wao.png);
    background-position: -400px -856px;
    width: 100px;
    height: 100px;
  }

.arbol-ceibo-24px {
    background-image: url(iconos_wao.png);
    background-position: -1581px -0px;
    width: 24px;
    height: 24px;
  }

.arbol-chiparro-100px {
    background-image: url(iconos_wao.png);
    background-position: -500px -856px;
    width: 100px;
    height: 100px;
  }

.arbol-chiparro-24px {
    background-image: url(iconos_wao.png);
    background-position: -600px -856px;
    width: 100px;
    height: 100px;
  }

.arbol-chuncho-100px {
    background-image: url(iconos_wao.png);
    background-position: -700px -856px;
    width: 100px;
    height: 100px;
  }

.arbol-chuncho-24px {
    background-image: url(iconos_wao.png);
    background-position: -1605px -0px;
    width: 24px;
    height: 24px;
  }

.arbol-chunchu-100px {
    background-image: url(iconos_wao.png);
    background-position: -800px -856px;
    width: 100px;
    height: 100px;
  }

.arbol-chunchu-24px {
    background-image: url(iconos_wao.png);
    background-position: -1629px -0px;
    width: 24px;
    height: 24px;
  }

.arbol-construccion-100px {
    background-image: url(iconos_wao.png);
    background-position: -900px -856px;
    width: 100px;
    height: 100px;
  }

.arbol-construccion-24px {
    background-image: url(iconos_wao.png);
    background-position: -1653px -0px;
    width: 24px;
    height: 24px;
  }

.arbol-frutal-100px {
    background-image: url(iconos_wao.png);
    background-position: -1000px -256px;
    width: 100px;
    height: 100px;
  }

.arbol-frutal-24px {
    background-image: url(iconos_wao.png);
    background-position: -1677px -0px;
    width: 24px;
    height: 24px;
  }

.arbol-huito-100px {
    background-image: url(iconos_wao.png);
    background-position: -1100px -256px;
    width: 100px;
    height: 100px;
  }

.arbol-huito-24px {
    background-image: url(iconos_wao.png);
    background-position: -1701px -0px;
    width: 24px;
    height: 24px;
  }

.arbol-medicinal-100px {
    background-image: url(iconos_wao.png);
    background-position: -1200px -256px;
    width: 100px;
    height: 100px;
  }

.arbol-medicinal-24px {
    background-image: url(iconos_wao.png);
    background-position: -1725px -0px;
    width: 24px;
    height: 24px;
  }

.arbol-sangredrago-100px {
    background-image: url(iconos_wao.png);
    background-position: -1300px -256px;
    width: 100px;
    height: 100px;
  }

.arbol-sangredrago-24px {
    background-image: url(iconos_wao.png);
    background-position: -1749px -0px;
    width: 24px;
    height: 24px;
  }

.arbol-uvasilvestre-100px {
    background-image: url(iconos_wao.png);
    background-position: -1400px -256px;
    width: 100px;
    height: 100px;
  }

.arbol-uvasilvestre-24px {
    background-image: url(iconos_wao.png);
    background-position: -1773px -0px;
    width: 24px;
    height: 24px;
  }

.area-animales-128-sk {
    background-image: url(iconos_wao.png);
    background-position: -0px -0px;
    width: 128px;
    height: 128px;
  }

.area-moretal3-128-sk {
    background-image: url(iconos_wao.png);
    background-position: -128px -0px;
    width: 128px;
    height: 128px;
  }

.area-wamontape3-128-01 {
    background-image: url(iconos_wao.png);
    background-position: -0px -128px;
    width: 128px;
    height: 128px;
  }

.camino-caza-64-b {
    background-image: url(iconos_wao.png);
    background-position: -0px -956px;
    width: 64px;
    height: 22px;
  }

.camino-huanta-32-b {
    background-image: url(iconos_wao.png);
    background-position: -224px -956px;
    width: 32px;
    height: 20px;
  }

.camino-imaginario-64 {
    background-image: url(iconos_wao.png);
    background-position: -64px -956px;
    width: 64px;
    height: 22px;
  }

.camino-jaguar-32-b {
    background-image: url(iconos_wao.png);
    background-position: -288px -956px;
    width: 32px;
    height: 16px;
  }

.camino-sahino-32-b {
    background-image: url(iconos_wao.png);
    background-position: -128px -956px;
    width: 32px;
    height: 22px;
  }

.camino-tapir-32-b {
    background-image: url(iconos_wao.png);
    background-position: -256px -956px;
    width: 32px;
    height: 19px;
  }

.camino-viajar-64-b {
    background-image: url(iconos_wao.png);
    background-position: -160px -956px;
    width: 64px;
    height: 22px;
  }

.circle-24px {
    background-image: url(iconos_wao.png);
    background-position: -1797px -0px;
    width: 24px;
    height: 24px;
  }

.comunidad-pista-100px {
    background-image: url(iconos_wao.png);
    background-position: -1500px -256px;
    width: 100px;
    height: 100px;
  }

.comunidad-pista-24px {
    background-image: url(iconos_wao.png);
    background-position: -1821px -0px;
    width: 24px;
    height: 24px;
  }

.estrella-100px {
    background-image: url(iconos_wao.png);
    background-position: -1600px -256px;
    width: 100px;
    height: 100px;
  }

.estrella-24px {
    background-image: url(iconos_wao.png);
    background-position: -1845px -0px;
    width: 24px;
    height: 24px;
  }

.historia-cementerio-100px {
    background-image: url(iconos_wao.png);
    background-position: -1700px -256px;
    width: 100px;
    height: 100px;
  }

.historia-cementerio-24px {
    background-image: url(iconos_wao.png);
    background-position: -1869px -0px;
    width: 24px;
    height: 24px;
  }

.historia-olla-100px {
    background-image: url(iconos_wao.png);
    background-position: -1800px -256px;
    width: 100px;
    height: 100px;
  }

.historia-olla-24px {
    background-image: url(iconos_wao.png);
    background-position: -1893px -0px;
    width: 24px;
    height: 24px;
  }

.historia-zonadeguerra-100px {
    background-image: url(iconos_wao.png);
    background-position: -1900px -256px;
    width: 100px;
    height: 100px;
  }

.historia-zonadeguerra-24px {
    background-image: url(iconos_wao.png);
    background-position: -1917px -0px;
    width: 24px;
    height: 24px;
  }

.liana-100px {
    background-image: url(iconos_wao.png);
    background-position: -1000px -356px;
    width: 100px;
    height: 100px;
  }

.liana-24px {
    background-image: url(iconos_wao.png);
    background-position: -1941px -0px;
    width: 24px;
    height: 24px;
  }

.liana-curare-100px {
    background-image: url(iconos_wao.png);
    background-position: -1100px -356px;
    width: 100px;
    height: 100px;
  }

.liana-curare-24px {
    background-image: url(iconos_wao.png);
    background-position: -1965px -0px;
    width: 24px;
    height: 24px;
  }

.liana-menekome-100px {
    background-image: url(iconos_wao.png);
    background-position: -1200px -356px;
    width: 100px;
    height: 100px;
  }

.liana-menekome-24px {
    background-image: url(iconos_wao.png);
    background-position: -1989px -0px;
    width: 24px;
    height: 24px;
  }

.liana-oneta-100px {
    background-image: url(iconos_wao.png);
    background-position: -1300px -356px;
    width: 100px;
    height: 100px;
  }

.liana-oneta-24px {
    background-image: url(iconos_wao.png);
    background-position: -2013px -0px;
    width: 24px;
    height: 24px;
  }

.liana-orokame-100px {
    background-image: url(iconos_wao.png);
    background-position: -1400px -356px;
    width: 100px;
    height: 100px;
  }

.liana-orokame-24px {
    background-image: url(iconos_wao.png);
    background-position: -953px -128px;
    width: 24px;
    height: 24px;
  }

.liana-otome-100px {
    background-image: url(iconos_wao.png);
    background-position: -1500px -356px;
    width: 100px;
    height: 100px;
  }

.liana-otome-24px {
    background-image: url(iconos_wao.png);
    background-position: -977px -128px;
    width: 24px;
    height: 24px;
  }

.otros-pozopetrolero-100px {
    background-image: url(iconos_wao.png);
    background-position: -1600px -356px;
    width: 100px;
    height: 100px;
  }

.otros-pozopetrolero-24px {
    background-image: url(iconos_wao.png);
    background-position: -1001px -128px;
    width: 24px;
    height: 24px;
  }

.paisaje-cueva-100px {
    background-image: url(iconos_wao.png);
    background-position: -1700px -356px;
    width: 100px;
    height: 100px;
  }

.paisaje-cueva-24px {
    background-image: url(iconos_wao.png);
    background-position: -1025px -128px;
    width: 24px;
    height: 24px;
  }

.paisaje-mirador-100px {
    background-image: url(iconos_wao.png);
    background-position: -1800px -356px;
    width: 100px;
    height: 100px;
  }

.paisaje-mirador-24px {
    background-image: url(iconos_wao.png);
    background-position: -1049px -128px;
    width: 24px;
    height: 24px;
  }

.paisaje-montana-100px {
    background-image: url(iconos_wao.png);
    background-position: -1900px -356px;
    width: 100px;
    height: 100px;
  }

.paisaje-montana-24px {
    background-image: url(iconos_wao.png);
    background-position: -1073px -128px;
    width: 24px;
    height: 24px;
  }

.palmera-100px {
    background-image: url(iconos_wao.png);
    background-position: -1000px -456px;
    width: 100px;
    height: 100px;
  }

.palmera-24px {
    background-image: url(iconos_wao.png);
    background-position: -1097px -128px;
    width: 24px;
    height: 24px;
  }

.palmera-chonta-100px {
    background-image: url(iconos_wao.png);
    background-position: -1100px -456px;
    width: 100px;
    height: 100px;
  }

.palmera-chonta-24px {
    background-image: url(iconos_wao.png);
    background-position: -1121px -128px;
    width: 24px;
    height: 24px;
  }

.palmera-colipato-100px {
    background-image: url(iconos_wao.png);
    background-position: -1200px -456px;
    width: 100px;
    height: 100px;
  }

.palmera-colipato-24px {
    background-image: url(iconos_wao.png);
    background-position: -1145px -128px;
    width: 24px;
    height: 24px;
  }

.palmera-dagueipewe-100px {
    background-image: url(iconos_wao.png);
    background-position: -1300px -456px;
    width: 100px;
    height: 100px;
  }

.palmera-dagueipewe-24px {
    background-image: url(iconos_wao.png);
    background-position: -1169px -128px;
    width: 24px;
    height: 24px;
  }

.palmera-hojas-de-coca-100px {
    background-image: url(iconos_wao.png);
    background-position: -1400px -456px;
    width: 100px;
    height: 100px;
  }

.palmera-hojas-de-coca-24px {
    background-image: url(iconos_wao.png);
    background-position: -1193px -128px;
    width: 24px;
    height: 24px;
  }

.palmera-karawe-100px {
    background-image: url(iconos_wao.png);
    background-position: -1500px -456px;
    width: 100px;
    height: 100px;
  }

.palmera-karawe-24px {
    background-image: url(iconos_wao.png);
    background-position: -1217px -128px;
    width: 24px;
    height: 24px;
  }

.palmera-liwe-100px {
    background-image: url(iconos_wao.png);
    background-position: -1600px -456px;
    width: 100px;
    height: 100px;
  }

.palmera-liwe-24px {
    background-image: url(iconos_wao.png);
    background-position: -1241px -128px;
    width: 24px;
    height: 24px;
  }

.palmera-morete-100px {
    background-image: url(iconos_wao.png);
    background-position: -1700px -456px;
    width: 100px;
    height: 100px;
  }

.palmera-morete-24px {
    background-image: url(iconos_wao.png);
    background-position: -1265px -128px;
    width: 24px;
    height: 24px;
  }

.palmera-nampa-100px {
    background-image: url(iconos_wao.png);
    background-position: -1800px -456px;
    width: 100px;
    height: 100px;
  }

.palmera-nampa-24px {
    background-image: url(iconos_wao.png);
    background-position: -1289px -128px;
    width: 24px;
    height: 24px;
  }

.palmera-obogenkawechambira-100px {
    background-image: url(iconos_wao.png);
    background-position: -1900px -456px;
    width: 100px;
    height: 100px;
  }

.palmera-obogenkawechambira-24px {
    background-image: url(iconos_wao.png);
    background-position: -1313px -128px;
    width: 24px;
    height: 24px;
  }

.palmera-petoweungurahua-100px {
    background-image: url(iconos_wao.png);
    background-position: -1000px -556px;
    width: 100px;
    height: 100px;
  }

.palmera-petoweungurahua-24px {
    background-image: url(iconos_wao.png);
    background-position: -1337px -128px;
    width: 24px;
    height: 24px;
  }

.palmera-tagua-100px {
    background-image: url(iconos_wao.png);
    background-position: -1100px -556px;
    width: 100px;
    height: 100px;
  }

.palmera-tagua-24px {
    background-image: url(iconos_wao.png);
    background-position: -1361px -128px;
    width: 24px;
    height: 24px;
  }

.palmera-wamomo-100px {
    background-image: url(iconos_wao.png);
    background-position: -1200px -556px;
    width: 100px;
    height: 100px;
  }

.palmera-wamomo-24px {
    background-image: url(iconos_wao.png);
    background-position: -1385px -128px;
    width: 24px;
    height: 24px;
  }

.planta-ajodemonte-100px {
    background-image: url(iconos_wao.png);
    background-position: -1300px -556px;
    width: 100px;
    height: 100px;
  }

.planta-ajodemonte-24px {
    background-image: url(iconos_wao.png);
    background-position: -1409px -128px;
    width: 24px;
    height: 24px;
  }

.planta-bagamo-100px {
    background-image: url(iconos_wao.png);
    background-position: -1400px -556px;
    width: 100px;
    height: 100px;
  }

.planta-bagamo-24px {
    background-image: url(iconos_wao.png);
    background-position: -1433px -128px;
    width: 24px;
    height: 24px;
  }

.planta-gadua-100px {
    background-image: url(iconos_wao.png);
    background-position: -1500px -556px;
    width: 100px;
    height: 100px;
  }

.planta-gadua-24px {
    background-image: url(iconos_wao.png);
    background-position: -1457px -128px;
    width: 24px;
    height: 24px;
  }

.planta-medicinal-100px {
    background-image: url(iconos_wao.png);
    background-position: -1600px -556px;
    width: 100px;
    height: 100px;
  }

.planta-medicinal-24px {
    background-image: url(iconos_wao.png);
    background-position: -1481px -128px;
    width: 24px;
    height: 24px;
  }

.planta-ortiga-100px {
    background-image: url(iconos_wao.png);
    background-position: -1700px -556px;
    width: 100px;
    height: 100px;
  }

.planta-ortiga-24px {
    background-image: url(iconos_wao.png);
    background-position: -1505px -128px;
    width: 24px;
    height: 24px;
  }

.planta-paca-toquilla-100px {
    background-image: url(iconos_wao.png);
    background-position: -1800px -556px;
    width: 100px;
    height: 100px;
  }

.planta-paca-toquilla-24px {
    background-image: url(iconos_wao.png);
    background-position: -1900px -556px;
    width: 100px;
    height: 100px;
  }

.planta-pantowe-100px {
    background-image: url(iconos_wao.png);
    background-position: -1000px -656px;
    width: 100px;
    height: 100px;
  }

.planta-pantowe-24px {
    background-image: url(iconos_wao.png);
    background-position: -1529px -128px;
    width: 24px;
    height: 24px;
  }

.planta-tepa-100px {
    background-image: url(iconos_wao.png);
    background-position: -1100px -656px;
    width: 100px;
    height: 100px;
  }

.planta-tepa-24px {
    background-image: url(iconos_wao.png);
    background-position: -1553px -128px;
    width: 24px;
    height: 24px;
  }

.planta-tetemo-100px {
    background-image: url(iconos_wao.png);
    background-position: -1200px -656px;
    width: 100px;
    height: 100px;
  }

.planta-tetemo-24px {
    background-image: url(iconos_wao.png);
    background-position: -1577px -128px;
    width: 24px;
    height: 24px;
  }

.planta-tomatedearbol-100px {
    background-image: url(iconos_wao.png);
    background-position: -1300px -656px;
    width: 100px;
    height: 100px;
  }

.planta-tomatedearbol-24px {
    background-image: url(iconos_wao.png);
    background-position: -1601px -128px;
    width: 24px;
    height: 24px;
  }

.planta-unadegato-100px {
    background-image: url(iconos_wao.png);
    background-position: -1400px -656px;
    width: 100px;
    height: 100px;
  }

.planta-unadegato-24px {
    background-image: url(iconos_wao.png);
    background-position: -1625px -128px;
    width: 24px;
    height: 24px;
  }

.wao-actividad-barro-100px {
    background-image: url(iconos_wao.png);
    background-position: -1500px -656px;
    width: 100px;
    height: 100px;
  }

.wao-actividad-barro-24px {
    background-image: url(iconos_wao.png);
    background-position: -1649px -128px;
    width: 24px;
    height: 24px;
  }

.wao-actividad-caza-100px {
    background-image: url(iconos_wao.png);
    background-position: -1600px -656px;
    width: 100px;
    height: 100px;
  }

.wao-actividad-caza-24px {
    background-image: url(iconos_wao.png);
    background-position: -1673px -128px;
    width: 24px;
    height: 24px;
  }

.wao-actividad-pesca-100px {
    background-image: url(iconos_wao.png);
    background-position: -1700px -656px;
    width: 100px;
    height: 100px;
  }

.wao-actividad-pesca-24px {
    background-image: url(iconos_wao.png);
    background-position: -1697px -128px;
    width: 24px;
    height: 24px;
  }

.wao-camaratrampa-100px {
    background-image: url(iconos_wao.png);
    background-position: -1800px -656px;
    width: 100px;
    height: 100px;
  }

.wao-camaratrampa-24px {
    background-image: url(iconos_wao.png);
    background-position: -1721px -128px;
    width: 24px;
    height: 24px;
  }

.wao-camino-aventura-100px {
    background-image: url(iconos_wao.png);
    background-position: -1900px -656px;
    width: 100px;
    height: 100px;
  }

.wao-camino-aventura-24px {
    background-image: url(iconos_wao.png);
    background-position: -2000px -456px;
    width: 30px;
    height: 30px;
  }

.wao-camino-caseria-100px {
    background-image: url(iconos_wao.png);
    background-position: -1000px -756px;
    width: 100px;
    height: 100px;
  }

.wao-camino-caseria-24px {
    background-image: url(iconos_wao.png);
    background-position: -1745px -128px;
    width: 24px;
    height: 24px;
  }

.wao-camino-imaginado-100px {
    background-image: url(iconos_wao.png);
    background-position: -1100px -756px;
    width: 100px;
    height: 100px;
  }

.wao-camino-imaginado-24px {
    background-image: url(iconos_wao.png);
    background-position: -1769px -128px;
    width: 24px;
    height: 24px;
  }

.wao-camino-viajar-100px {
    background-image: url(iconos_wao.png);
    background-position: -1200px -756px;
    width: 100px;
    height: 100px;
  }

.wao-camino-viajar-24px {
    background-image: url(iconos_wao.png);
    background-position: -1793px -128px;
    width: 24px;
    height: 24px;
  }

.wao-campamento-100px {
    background-image: url(iconos_wao.png);
    background-position: -1300px -756px;
    width: 100px;
    height: 100px;
  }

.wao-campamento-24px {
    background-image: url(iconos_wao.png);
    background-position: -1817px -128px;
    width: 24px;
    height: 24px;
  }

.wao-canoa-100px {
    background-image: url(iconos_wao.png);
    background-position: -1400px -756px;
    width: 100px;
    height: 100px;
  }

.wao-canoa-24px {
    background-image: url(iconos_wao.png);
    background-position: -1841px -128px;
    width: 24px;
    height: 24px;
  }

.wao-chacra-100px {
    background-image: url(iconos_wao.png);
    background-position: -1500px -756px;
    width: 100px;
    height: 100px;
  }

.wao-chacra-24px {
    background-image: url(iconos_wao.png);
    background-position: -1865px -128px;
    width: 24px;
    height: 24px;
  }

.wao-comunidad-100px {
    background-image: url(iconos_wao.png);
    background-position: -1600px -756px;
    width: 100px;
    height: 100px;
  }

.wao-comunidad-24px {
    background-image: url(iconos_wao.png);
    background-position: -1700px -756px;
    width: 100px;
    height: 100px;
  }

.wao-comunidad-casa-100px {
    background-image: url(iconos_wao.png);
    background-position: -1800px -756px;
    width: 100px;
    height: 100px;
  }

.wao-comunidad-casa-24px {
    background-image: url(iconos_wao.png);
    background-position: -1889px -128px;
    width: 24px;
    height: 24px;
  }

.wao-comunidad-escuela-100px {
    background-image: url(iconos_wao.png);
    background-position: -1900px -756px;
    width: 100px;
    height: 100px;
  }

.wao-comunidad-escuela-24px {
    background-image: url(iconos_wao.png);
    background-position: -1913px -128px;
    width: 24px;
    height: 24px;
  }

.wao-comunidad-iglesia-100px {
    background-image: url(iconos_wao.png);
    background-position: -1000px -856px;
    width: 100px;
    height: 100px;
  }

.wao-comunidad-iglesia-24px {
    background-image: url(iconos_wao.png);
    background-position: -1937px -128px;
    width: 24px;
    height: 24px;
  }

.wao-comunidad-pista-100px {
    background-image: url(iconos_wao.png);
    background-position: -1100px -856px;
    width: 100px;
    height: 100px;
  }

.wao-comunidad-pista-24px {
    background-image: url(iconos_wao.png);
    background-position: -1961px -128px;
    width: 24px;
    height: 24px;
  }

